<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
  style="background:url(assets/images/Backgrounds/Login.jpg) no-repeat center;">
  <div class="auth-box">
    <div id="loginform">
      <div class="logo">
        <span class="db"><img src="../../../assets/images/Logo_tagline-03.png" width="200px" height="200px"
            alt="logo" /></span>
      </div>
      <div class="row">
        <div class="col-12">
          <form [formGroup]="loginForm" name="form" #form="ngForm" class="form-horizontal m-t-20" id="loginform">
            <div class="col-12">
              <div class="alert mb-3" [ngClass]="'alert-' + alertError.type" *ngIf="alertError.display != false">
                <button type="button" class="close" data-dismiss="alert"
                  (click)="alertError.display = false">&times;</button>
                <p class="mb-0">{{ alertError.msg }}</p>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
              </div>
              <input [(ngModel)]="body.email" [ngClass]="{ 'is-invalid': form.submitted && f.email.errors }"
                formControlName="email" name="email" type="email" class="form-control form-control-lg"
                placeholder="Email" aria-label="email" aria-describedby="basic-addon1" />
              <div *ngIf="form.submitted && f.email.errors" class="invalid-feedback px-3">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be valid</div>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
              </div>
              <input [(ngModel)]="body.password" [ngClass]="{ 'is-invalid': form.submitted && f.password.errors }"
                formControlName="password" name="password" type="password" class="form-control form-control-lg"
                placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" />
              <div *ngIf="form.submitted && f.password.errors" class="invalid-feedback px-3">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button (click)="login()" class="btn btn-block btn-lg btn-info" type="submit">Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
