<div class="row">
  <div class="col-md-4">
    <form #myForm="ngForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control radius margin" [(ngModel)]="workoutCategories.name" id="name"
          placeholder="Name" name="name" aria-describedby="name">
      </div>
      <div class="form-group">
        <label>Slug</label>
        <input type="text" class="form-control radius" [(ngModel)]="workoutCategories.slug" id="slug" placeholder="Slug"
          name="slug" aria-describedby="slug">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control radius" id="value" [(ngModel)]="workoutCategories.description"
          name="description" aria-describedby="descirption"></textarea>
      </div>
      <div class="form-group">
        <label>Video Url</label>
        <input type="text" class="form-control radius" [(ngModel)]="workoutCategories.videoUrl" id="video"
          placeholder="Video Url" name="video" aria-describedby="video">
      </div>
      <!-- <div class="form-group">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Parent Category</label>
                <select class="custom-select mr-sm-2 radius" [(ngModel)]="parentCategory" id="inlineFormCustomSelect" name="parentCategory">
                    <option value="">None</option>
                    <option *ngFor="let cat of categories" value="{{cat._id}}">{{cat.name}}</option>
                </select>
            </div> -->
      <!-- <div class="form-group">
        <div class="upload-btn-wrapper pointer">
          <button style="padding: 0; border: 0; background: transparent;" class="btn1">
            <div
              style="flex-direction: column; border: 2px dashed #999; background-color: transparent; width: 200px; height: 100px; display: flex; justify-content: center; align-items: center;">
              <span *ngIf="fileUrl"
                style="opacity: 0.7; z-index: 1; position: absolute; top: 0; bottom: 0; left: 0; right: 0" width="300"
                height="200">{{fileName}}</span>

              <i *ngIf="!fileUrl" style="z-index: 2; color: #444;" class="fa fa-upload pointer"></i>
              <span *ngIf="!fileUrl" style="z-index: 2; color: #444; font-weight: 20px;" class="text-muted">Upload
                Video</span>
            </div>
          </button>
          <input type="file" name="banner" #fileInput (change)="onChange(fileInput.files[0])" class="custom-file-input"
            id="banner" name="video">
        </div>
      </div> -->
      <div class="form-group">
        <div class="upload-btn-wrapper pointer">
          <button style="padding: 0; border: 0; background: transparent;" class="btn1">
            <div
              style="flex-direction: column; border: 2px dashed #999; background-color: transparent; width: 200px; height: 100px; display: flex; justify-content: center; align-items: center;">
              <img *ngIf="imageUrl"
                style="opacity: 0.7; z-index: 1; position: absolute; top: 0; bottom: 0; left: 0; right: 0"
                [src]="imageUrl" width="300" height="200" />

              <i *ngIf="!imageUrl" style="z-index: 2; color: #444;" class="fa fa-upload pointer"></i>
              <span *ngIf="!imageUrl" style="z-index: 2; color: #444; font-weight: 20px;" class="text-muted">Upload
                Feature Image</span>
            </div>
          </button>
          <input type="file" name="banner" #fileImageInput (change)="onImageChange(fileImageInput.files[0])"
            class="custom-file-input" id="banner">
        </div>
      </div>
      <div class="form-group m-t-10">
        <button type="button" class="btn btn-info ml-auto radius" (click)="addCategory(myForm)">Add</button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <div class="scrollable table-responsive" style="height:50em;" [perfectScrollbar]="config">
      <table class="table table-hover text-center">
        <thead class="thead-light">
          <tr class="sticky-header">
            <th class="sticky-header" style="text-align:left" scope="col">Name</th>
            <!-- <th class="sticky-header" scope="col">Parent Category</th> -->
            <th class="sticky-header" style="text-align:left" scope="col">Description</th>
            <th class="sticky-header" scope="col" style="text-align:left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of categories; let i=index">
            <td style="text-align:left;width: 40%">{{ c?.name }}</td>
            <!-- <td>{{c?.parentCategory?.name }}</td> -->
            <td style="text-align:left;width: 40%">{{c?.description }}</td>
            <td style="text-align:left;width: 20%">
              <i class="ti-pencil text-info m-r-10 pointer" (click)="editCategory(edit,i)"></i>
              <i class="ti-trash text-danger pointer" (click)="deleteCategory(c._id,i)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Category</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="sCategory.name" name="name" type="text" class="form-control margin" id="name"
          placeholder="Name" />
      </div>
      <div class="form-group">
        <label for="slug">Slug</label>
        <input [(ngModel)]="sCategory.slug" name="slug" type="text" class="form-control margin" id="slug"
          placeholder="Slug" />
      </div>
      <div class="form-group">
        <label for="slug">Description</label>
        <input [(ngModel)]="sCategory.description" name="description" type="text" class="form-control margin"
          id="description" placeholder="Description" />
      </div>
      <div class="form-group">
        <label for="videoUrl">Video Url</label>
        <input [(ngModel)]="sCategory.videoUrl" name="videoUrl" type="text" class="form-control margin" id="videoUrl"
          placeholder="Video Url" />
      </div>
      <div class="upload-btn-wrapper pointer">
        <button style="padding: 0; border: 0; background: transparent;" class="btn1">
          <div
            style="flex-direction: column; border: 2px dashed #999; background-color: transparent; width: 200px; height: 100px; display: flex; justify-content: center; align-items: center;">
            <img *ngIf="cateImage"
              style="opacity: 0.7; z-index: 1; position: absolute; top: 0; bottom: 0; left: 0; right: 0"
              src="{{enImageUrl}}{{cateImage}}" width="300" height="200" />
            <img *ngIf="imageUpdateUrl"
              style="opacity: 0.7; z-index: 1; position: absolute; top: 0; bottom: 0; left: 0; right: 0"
              src="{{imageUpdateUrl}}" width="300" height="200" />

            <i *ngIf="!imageUpdateUrl" style="z-index: 2; color: #444;" class="fa fa-upload pointer"></i>
            <span *ngIf="!imageUpdateUrl" style="z-index: 2; color: #444; font-weight: 20px;" class="text-muted">Upload
              Feature Image</span>
          </div>
        </button>
        <input type="file" name="banner" #fileInput (change)="onImageUpdateChange(fileInput.files[0])"
          class="custom-file-input" id="banner">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">
      Close
    </button>
    <button (click)="updateCategory()" type="button" class="btn btn-info">
      Save
    </button>
  </div>
</ng-template>
