<div class="row">
    <div class="col-md-4">
        <form #myForm="ngForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control radius margin" [(ngModel)]="workoutCategories.name" id="name" placeholder="Name" name="name" aria-describedby="name">
            </div>
            <div class="form-group">
                <label>Slug</label>
                <input type="text" class="form-control radius" [(ngModel)]="workoutCategories.slug" id="slug" placeholder="Slug" name="slug" aria-describedby="slug">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea type="text" class="form-control radius" id="value" [(ngModel)]="workoutCategories.description" name="description" aria-describedby="descirption"></textarea>
            </div>
            <div class="form-group">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Parent Category</label>
                <select class="custom-select mr-sm-2 radius" [(ngModel)]="parentCategory" id="inlineFormCustomSelect" name="parentCategory">
                    <option value="">None</option>
                    <option *ngFor="let cat of categories" value="{{cat._id}}">{{cat.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="upload-btn-wrapper pointer">
                    <button style="padding: 0; border: 0; background: transparent;" class="btn1">
                        <div
                            style="flex-direction: column; border: 2px dashed #999; background-color: transparent; width: 200px; height: 100px; display: flex; justify-content: center; align-items: center;">
                            <span *ngIf="fileUrl"
                                style="opacity: 0.7; z-index: 1; position: absolute; top: 0; bottom: 0; left: 0; right: 0"
                                 width="300" height="200">{{fileName}}</span>
                                
                                <i *ngIf="!fileUrl" style="z-index: 2; color: #444;"
                                    class="fa fa-upload pointer"></i>
                                    <span *ngIf="!fileUrl" style="z-index: 2; color: #444; font-weight: 20px;" class="text-muted">Upload Video</span>
                              </div>
                    </button>
                    <input type="file" name="banner" #fileInput (change)="onChange(fileInput.files[0])" class="custom-file-input" id="banner" name="video">
                </div>
            </div>
            <div class="form-group m-t-10">
                <button type="button" class="btn btn-info ml-auto radius" (click)="addCategory(myForm)">Add</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="scrollable table-responsive" style="height:500px;" [perfectScrollbar]="config">
            <table class="table table-hover text-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Parent Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of categories; let i=index">
                        <td>{{ c?.name }}</td>
                        <td>{{c?.parentCategory?.name }}</td>
                        <td>{{c?.description }}</td>
                        <td>
                            <i class="ti-pencil text-info m-r-10 pointer" (click)="updateCategory(edit,i)"></i>
                            <i class="ti-trash text-danger pointer" (click)="deleteCategory(c._id,i)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- <ng-template #edit let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Edit Carb</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="sCarb.nameEn" name="nameEn" type="text" class="form-control margin" id="nameEn" placeholder="English" />
          <input [(ngModel)]="sCarb.nameNl" name="nameNl" type="text" class="form-control" id="nameNl" placeholder="Dutch" />
        </div>
        <div class="form-group">
            <label>Value</label>
            <input type="text" class="form-control radius" id="value" [(ngModel)]="sCarb.value"  name="value" aria-describedby="value" >
            <small class="text-muted">The “value" is the value of 1 gram of vegetable is equal to how many "KCal".</small>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">
        Close
      </button>
      <button (click)="updateCarb()" type="button" class="btn btn-info">
        Save
      </button>
    </div>
  </ng-template> -->