<div class="card">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Partners</h4>
                <!-- <h5 class="card-subtitle">Overview of Latest Month</h5> -->
            </div>
            <!-- <div class="ml-auto d-flex no-block align-items-center">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
                </div>
            </div> -->
        </div>
        <div class="table-responsive">
            <table class="table no-wrap v-middle">
                <thead>
                    <tr class="border-0">
                        <th class="border-0">Name</th>
                        <th class="border-0">ReferBy</th>
                        <th class="border-0">Posts</th>
                        <th class="border-0">Recipes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of partners">
                        <td>
                            <div class="d-flex no-block align-items-center">
                                <div class="m-r-10">
                                    <img *ngIf="!p?.profilePic" alt="user" src="assets/images/users/1.jpg" class="rounded-circle" width="45"/>
                                    <img *ngIf="p?.profilePic" src="{{imgUrl}}{{p?.profilePic}}" alt="user" class="rounded-circle" width="45" />
                                </div>
                                <div class="">
                                    <h5 class="m-b-0 font-16 font-medium">{{p?.name}}</h5>
                                    <span>{{p?.email}}</span>
                                </div>
                            </div>
                        </td>
                        <td>{{p?.referBy?.name}}</td>
                       
                        <td>
                            <button class="btn btn-rounded btn-sm btn-outline-secondary" type="button">View Posts</button>
                            <!-- <i class="fa fa-circle text-orange" data-toggle="tooltip" data-placement="top" title="In Progress"></i> -->
                        </td>
                        <td><button class="btn btn-rounded btn-sm btn-outline-secondary" type="button">View Recipes</button></td>
                        <!-- <td class="blue-grey-text  text-darken-4 font-medium">$96K</td> -->
                    </tr> 
                    
                </tbody>
            </table>
        </div>
    </div>
</div>